.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.featureCard {
  background: var(--ifm-card-background-color);
  border-radius: 12px;
  padding: 2rem;
  height: 100%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 1px solid var(--ifm-color-primary-dark);
  box-shadow: 0 4px 6px var(--ifm-color-primary),
    0 1px 3px var(--ifm-color-primary);
}

.featureCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px var(--ifm-color-primary),
    0 4px 10px var(--ifm-color-primary);
}